version: '3.8'

services:
  # 1. API Gateway
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: api-gateway
    image: ${DOCKER_USERNAME}/api-gateway:latest
    container_name: api-gateway
    restart: always
    # QUAN TRỌNG: Chỉ bind vào 127.0.0.1 để không lộ ra internet, chỉ Nginx Host mới gọi được
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      - API_GATEWAY_PORT=3000
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - app-network

  # 2. Analytics Service
  analytics:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: analytics
    image: ${DOCKER_USERNAME}/analytics:latest
    container_name: analytics
    restart: always
    ports:
      - '127.0.0.1:3002:3002'
    environment:
      - ANALYTICS_SERVICE_PORT=3002
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - app-network

  # 3. Storage Service
  storage:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: storage
    image: ${DOCKER_USERNAME}/storage:latest
    container_name: storage
    restart: always
    ports:
      - '127.0.0.1:3003:3003'
    environment:
      - PORT=3003
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - app-network

# Không còn service Nginx ở đây nữa

networks:
  app-network:
    driver: bridge
